pre .hll { background-color: #3A2C2C }
pre .c { color: #D8A7A7 } /* Comment */
pre .k { color: #56A33A; font-weight: bold } /* Keyword */
pre .o { color: #8A8AAB } /* Operator */
pre .cm { color: #C8C45A } /* Comment.Multiline */
pre .cp { color: #507090 } /* Comment.Preproc */
pre .c1 { color: #808080 } /* Comment.Single */
pre .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
pre .gd { color: #A00000 } /* Generic.Deleted */
pre .ge {  } /* Generic.Emph */
pre .gr { color: #FF0000 } /* Generic.Error */
pre .gh { color: #8484AF; font-weight: bold } /* Generic.Heading */
pre .gi { color: #61DC61 } /* Generic.Inserted */
pre .go { color: #B6D7D9 } /* Generic.Output */
pre .gp { color: #DC8D4E; font-weight: bold } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #C18DC1; font-weight: bold } /* Generic.Subheading */
pre .gt { color: #0040D0 } /* Generic.Traceback */
pre .kc { color: #68BE68; font-weight: bold } /* Keyword.Constant */
pre .kd { color: #68BE68; font-weight: bold } /* Keyword.Declaration */
pre .kn { color: #68BE68; font-weight: bold } /* Keyword.Namespace */
pre .kp { color: #7992BB; font-weight: bold } /* Keyword.Pseudo */
pre .kr { color: #7992BB; font-weight: bold } /* Keyword.Reserved */
pre .kt { color: #E3D4B0; font-weight: bold } /* Keyword.Type */
pre .m { color: #6000E0; font-weight: bold } /* Literal.Number */
pre .s {  } /* Literal.String */
pre .na { color: #6868A9 } /* Name.Attribute */
pre .nb { color: #7FCD96 } /* Name.Builtin */
pre .nc { color: #B5608A; font-weight: bold } /* Name.Class */
pre .no { color: #8AA0B7; font-weight: bold } /* Name.Constant */
pre .nd { color: #894646; font-weight: bold } /* Name.Decorator */
pre .ni { color: #D56A6A; font-weight: bold } /* Name.Entity */
pre .ne { color: #0060B0; font-weight: bold } /* Name.Exception */
pre .nf { color: #7D9FBB; font-weight: bold } /* Name.Function */
pre .nl { color: #EEDEA5; font-weight: bold } /* Name.Label */
pre .nn { color: #9FC0CD; font-weight: bold } /* Name.Namespace */
pre .nt { color: #007000 } /* Name.Tag */
pre .nv { color: #906030 } /* Name.Variable */
pre .ow { color: #000000; font-weight: bold } /* Operator.Word */
pre .w { color: #bbbbbb } /* Text.Whitespace */
pre .mf { color: #71509D; font-weight: bold } /* Literal.Number.Float */
pre .mh { color: #B5CAD7; font-weight: bold } /* Literal.Number.Hex */
pre .mi { color: #75759A; font-weight: bold } /* Literal.Number.Integer */
pre .mo { color: #7562A4; font-weight: bold } /* Literal.Number.Oct */
pre .sb {  } /* Literal.String.Backtick */
pre .sc { color: #0040D0 } /* Literal.String.Char */
pre .sd { color: #D04020 } /* Literal.String.Doc */
pre .s2 { } /* Literal.String.Double */
pre .se { color: #A14B4B; font-weight: bold; background-color: #190000 } /* Literal.String.Escape */
pre .sh {  } /* Literal.String.Heredoc */
pre .si { } /* Literal.String.Interpol */
pre .sx { color: #D02000; background-color: #fff0f0 } /* Literal.String.Other */
pre .sr { color: #000000; background-color: #160C0C } /* Literal.String.Regex */
pre .s1 { } /* Literal.String.Single */
pre .ss { color: #A06000 } /* Literal.String.Symbol */
pre .bp { color: #007020 } /* Name.Builtin.Pseudo */
pre .vc { color: #738CA5 } /* Name.Variable.Class */
pre .vg { color: #d07000; font-weight: bold } /* Name.Variable.Global */
pre .vi { color: #3030B0 } /* Name.Variable.Instance */
pre .il { color: #0000D0; font-weight: bold } /* Literal.Number.Integer.Long */
