<!-- includes/article_meta.html -->
            {{ article.locale_date }}
            {%- if article.tags %}
              <br />tags: 
              {%- for tag in article.tags %}
              <a id="tagsy" rel="tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
              {% endfor -%}
            {% endif -%}
            {%- if article.translations %}
              <br />lng: 
              [<a href="{{ SITEURL }}/{{ article.url }}">{{ article.lang or DEFAULT_LANG }}</a>]
              {%- for translation in article.translations %}
              <a href="{{ SITEURL }}/{{ translation.url }}">{{ translation.lang }}</a>
              {% endfor -%}
             {% endif -%}
